.button {
    // position: absolute;
    width: 12vw;
    height: 6vh;
    display: inline-block;

    background: #FFBA53;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;
    // font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2vh;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}