.buttonlist {
    text-align: center;
    display: flex;
    margin: 5vh 4vw;
    list-style-type: none 
}

.button {
    width: 15vw;
    height: 3.5vh;
    margin: 0 1vw;
    background: #FFBA53;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;

    font-style: normal;
    font-weight: normal;
    font-size: 1.5vh;
}

